<div class="container">
  <h1>Hola esta es mi 12avo proyecto</h1>
  <h2>{{ welcome }}</h2>
  <ul>
    @for (task of tasks(); track task) {
    <li>
      {{task}}
    </li>
    }
  </ul>
  <hr>
  <h2>{{ 'Hola Platzi - '.repeat(4) }}</h2>
  <p>La suma de 3 + 3 {{ 3 + 3}}</p>
  <p>Hola soy {{ name() }}</p>

  <h1>Nueva estructura de control</h1>
  @if(name() === 'Julian'){
  <div>Eres julian</div>
  }

  <hr>
  <button [disabled]="disabled" class=""> Click me</button>
  <hr>
  <h3>Person</h3>
  <p>Hola soy {{ person.name }}</p>
  <img [src]="person().avatar" alt=""><br>
  <input type="number" [value]="person().age">
  <hr>
  <button (click)="clickHandler()">Click me</button><br>
  <button (dblclick)="clickHandler()">Double me</button>
  <p>(change) Este cambia cuando se quita el enfoque</p>
  <input type="number" (change)="changeHandler($event)" [value]="person().age">
  <p>(Keydown) Este cambia medida que el usuario escribe</p>
  <input type="text" (keydown)="keyDownHandler($event)" [value]="person().name">
  <hr>
  <h1>Signals</h1>
  <p>(Keydown) Este se ejecuta con shift + t</p>
  <input type="text" (keydown.shift.t)="changeHandler($event)" [value]="name()">
  <p>Nombre con signal: {{ name()}}</p>
  <h3>Signasl con arrays</h3>
  <ul>
    <p>Total: {{ tasks().length}}</p>
    @for (task of tasks(); track task; let i = $index) {
    <li>
      {{i}} - {{task}}
    </li>
    }
  </ul>
  <hr />
  @if (name() == 'Julian') {
  <div>
    <span>Eres Julian</span>
  </div>
  } @else {

  Eres Julian David

  }
  <input type="number" (change)="changeAge($event)" [value]="person().age">

  @if (person().name == 'Julian' && person().age > 17) {
  <div>
    <span>Eres Julian y eres mayor de edad</span>
  </div>
  } @else {

  No eres Julian y no eres adulto

  }
  <ng-template #no>
    No eres Julian y no eres adulto
  </ng-template>
  <hr>
  <input type="text" (change)="changeName($event)" [value]="person().name">
  <div>
    @switch (person().name) {
    @case ('Julian') {
    <p>Soy Julian</p>
    }
    @case ('Ana') {
    <p>Soy Ana</p>
    }
    @case ('Nicolas') {
    <p>Soy Nicolas</p>
    }
    @default {
    <p>No soy nadie</p>
    }
    }
  </div>
  <hr>
  <input type="color" [formControl]="colorCtrl">
  <p>color: {{ colorCtrl.value }}</p>
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value" />
    </g>
  </svg>
  <input type="number" [formControl]="widthCtrl">
  <span class="box" [style.width.px]="widthCtrl.value"></span>
  <hr>
  <p>
    <input type="text" [formControl]="nombreCtrl"><br>
    <!--Esto se hace para no usar un ngIf por el desplazamiento de inputs-->
    <span class="message-error" [class.show]="nombreCtrl.invalid && nombreCtrl.touched">Nomberinvalido</span>
  </p>
  <p>
    <input type="text">
  </p>

  <h2>If else new</h2>
  @if(person().name == 'Julian' && person().age > 1){
  <div><span>Eres Julian y eres mayor de edad</span></div>
  } @else {
  <div>No eres Julian y no eres adulto</div>
  }
  <hr>
  <h2>Nueva estructura for</h2>
  <ul>
    @for (task of tasks(); track task; let i = $index) {
    <li>
      {{i}}-{{task}}
    </li>
    }@empty {
    <li><strong>La lista esta vacia</strong></li>
    }
  </ul>
  <hr>
  <h2>new Swtich</h2>
  <div>
    @switch (person().name) {
    @case ('Julian') {
    <p>Soy Julian</p>
    }
    @case ('Ana') {
    <p>Soy Ana</p>
    }
    @case ('Nicolas') {
    <p>Soy Nicolas</p>
    }
    @default {
    <p>No soy nadie</p>
    }
    }
  </div>
  <div>
    @switch (person().name) {
    @case ('Julian') {
    <p>Soy Julian</p>
    }
    @case ('David') {
    <p>Soy f</p>
    }
    @default {
    <p>No soy nadie</p>
    }
    }
  </div>

</div>
